{{#section 'css'}}
<style>
    body {
        background-color: #f2f4f5;
    }

    #details {
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
        padding: 30px !important;
    }


    #img {
        src: ;
    }

    #cmtButton {
        font-weight: bold;
        color: white;
        background: #544a7d;

    }


    .section-heading {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        background-color: #f2f4f5;
        padding: 10px 25px;
        border-left: 4px solid #544a7d;
    }

    .post-details-content {
        position: relative;
        z-index: 1;
    }

    .post-details-content .post-meta {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
    }

    .post-details-content .post-meta a {
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #544a7d;
    }

    .post-details-content .post-meta a:last-child {
        margin-left: 20px;
    }

    .post-details-content .post-meta a:last-child::after {
        content: '/';
        position: absolute;
        top: 0;
        left: -15px;
        z-index: 1;
    }

    .post-details-content .post-meta a:hover,
    .post-details-content .post-meta a:focus {
        color: #404040;
    }

    .post-details-content .post-title {
        font-size: 24px;
        margin-bottom: 15px;
        display: block;
    }

    @media only screen and (max-width: 767px) {
        .post-details-content .post-title {
            font-size: 20px;
        }
    }

    .post-details-content .post-meta-2 {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
    }

    .post-details-content .post-meta-2 a {
        font-size: 14px;
        color: #777777;
        margin-right: 20px;
    }

    .post-details-content .post-meta-2 a:last-child {
        margin-right: 0;
    }

    .post-details-content .post-meta-2 a:hover,
    .post-details-content .post-meta-2 a:focus {
        color: #544a7d;
    }

    .post-details-content ul {
        position: relative;
        z-index: 1;
    }

    .post-details-content ul li {
        color: #777777;
        margin-bottom: 10px;
    }

    .post-details-content ul li i {
        margin-right: 5px;
    }


    .post-author {
        position: relative;
        z-index: 1;
        padding-top: 40px;
        border-top: 1px solid #ebebeb;
    }

    .post-author .post-author-thumb {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    @media only screen and (max-width: 767px) {
        .post-author .post-author-thumb {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 60px;
            flex: 0 0 60px;
            max-width: 60px;
            width: 60px;
            height: 60px;
        }
    }

    .post-author .post-author-thumb img {
        border-radius: 50%;
    }

    .post-author .post-author-desc .author-name {
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 767px) {
        .post-author .post-author-desc .author-name {
            font-size: 14px;
        }
    }

    .post-author .post-author-desc p {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 767px) {
        .post-author .post-author-desc p {
            font-size: 12px;
        }
    }


    .section-heading {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
        background-color: transparent;
        padding: 10px 25px;
    }

    @media only screen and (max-width: 767px) {
        .section-heading h5 {
            font-size: 16px;
        }
    }

    .comment_area {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 50px;
        padding: 30px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15) !important;
    }

    .comment_area .comment-content .comment-author {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        min-width: 70px;
        margin-right: 20px;
        height: 70px;
        border-radius: 50%;
    }

    .comment_area .comment-content .comment-author img {
        border-radius: 50%;
    }

    @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 40px;
            flex: 0 0 40px;
            min-width: 40px;
            margin-right: 10px;
            height: 40px;
        }
    }

    .comment_area .comment-content .comment-meta {
        margin-bottom: 5px;
    }

    .comment_area .comment-content .comment-meta .comment-date {
        font-size: 12px;
        color: #777777;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .comment_area .comment-content .comment-meta h6 {
        margin-bottom: 5px;
    }

    .comment_area .comment-content .comment-meta p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 2;
    }

    .comment_area .single_comment_area {
        margin-bottom: 30px;
    }

    .comment_area .single_comment_area:last-of-type {
        margin-bottom: 0;
    }

    .comment_area .children .single_comment_area {
        margin-left: 50px;
        margin-top: 30px;
    }

    @media only screen and (max-width: 767px) {
        .comment_area .children .single_comment_area {
            margin-left: 15px;
        }
    }


    .section-heading h5 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1;
        ;
    }

    @media only screen and (max-width: 767px) {
        .section-heading h5 {
            font-size: 16px;
        }
    }
</style>
{{/section}}

<div class="post-details-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-12">
                <div id="details" class="post-details-content bg-white mb-30 mt-30 p-30 ">

                    <div id="details" class="related-post-area bg-white mb-30 px-30 pt-30 box-shadow">

                        <div class="section-heading">
                            <h5>Bài Viết thuộc chuyên mục</h5>
                        </div>

                        <div class="row">

                            {{#if this.empty_listArtByCat}}
                            {{else}}
                            {{#each this.lisArtByIdCat}}
                            <div class="col-12 col-md-6 col-lg-4">

                                <div class="single-blog-post style-4 mb-30">
                                    <div class="post-thumbnail" style="width: 100%;margin-left: 18px;">
                                        <img src="{{image}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="/byID/{{id}}" class="post-title">{{title}}</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                        <nav aria-label="...">
                            <ul class="pagination">

                                <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
                                    <a class="page-link" href="?page={{prev_value}}" tabindex="-1">Previous</a>
                                </li>
                                {{#each this.page_items}}
                                {{#if isActive}}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{else}}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{value}}">{{value}}</a>
                                </li>
                                {{/if}}
                                {{/each}}
                                <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
                                    <a class="page-link" href="?page={{next_value}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>